{% extends "master.html" %}

{% block titulo %}
    All member
{% endblock %}
{% block contenido %}

    <header>
        <a href="/crear-miembro">Crear Miembro</a>
        <h1>members </h1>
    </header>

    <main>


        <ul><!--Todas las pinturas-->
            {% for m in mymembers %}

                {% if  m.firstname == "asd"  %}<!-- Aqui va el m.estado == "aprobado"--><!-- Esto hace que se filtre por las aprobadas nomas-->
                <li> <a href="details/{{m.id}}">{{m.id}}</a> {{ m.firstname }} {{ m.lastname }} {{ m.phone }} {{ m.joined_date }} </li>
                {% endif %}
            {% endfor %}
            
        </ul>
    </main>
{% endblock %}